In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#### Reading the file and merging all the given excle sheets.

In [2]:
df=pd.concat(pd.read_excel('imus+(2).xlsx',sheet_name=None),ignore_index=True)

In [ ]:
#### basic data exploration

In [3]:
df.head(5)

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627926 entries, 0 to 2627925
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   category         int64
 1   manufacturer     object
 2   part_number      object
 3   sku              object
 4   alt_sku          object
 5   description      object
 6   status           object
 7   qty              int64
 8   price            float64
 9   sku_create_date  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 200.5+ MB

In [6]:
df.isnull().sum()    #### calculating the total null values

category                 0
manufacturer             0
part_number              0
sku                      0
alt_sku            2613442
description              0
status                   0
qty                      0
price                    0
sku_create_date          0
dtype: int64

In [ ]:
#### In the given data set there are 10 columns and 2627926 records.
#### out of 10 columns only alt_sku column has 2613442 null values.

In [ ]:
#### dividing the data into two categories based on  the satus of stcok avilability.

In [3]:
df_in_stock=df[df['status']=='In Stock']  ### In stock data

In [4]:
df_No_stock=df[df['status']=='No Stock']  ### No stock data

In [7]:
df_in_stock.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 713788 entries, 253 to 2627925
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   category         713788 non-null  int64
 1   manufacturer     713788 non-null  object
 2   part_number      713788 non-null  object
 3   sku              713788 non-null  object
 4   alt_sku          8242 non-null    object
 5   description      713788 non-null  object
 6   status           713788 non-null  object
 7   qty              713788 non-null  int64
 8   price            713788 non-null  float64
 9   sku_create_date  713788 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 59.9+ MB

In [8]:
df_No_stock.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1914138 entries, 0 to 2627857
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   category         int64
 1   manufacturer     object
 2   part_number      object
 3   sku              object
 4   alt_sku          object
 5   description      object
 6   status           object
 7   qty              int64
 8   price            float64
 9   sku_create_date  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 160.6+ MB

In [5]:
df1=df_in_stock
df2=df_No_stock

In [7]:
### Top manufacturers with highest quantity

df_qty =df1.sort_values('qty',ascending=False)['manufacturer'].drop_duplicates().head(10)
df_qty

2364017           DELL CSG SERVICE WARRANTIES
852992                                    TMS
1698155                              CONFIG 6
785899                         MICROSOFT- ESD
838410                    DELL ESG WARRANTIES
1335010           IM CHOICE ADVANTAGE - GOVED
1498076                  TEST VENDOR NUMBER 6
1363496    IM CHOICE ADVANTAGE - TECH SUPPORT
1352510                         IMCE SERVICES
459754          HP INC. - SB DESKTOP DISPLAYS
Name: manufacturer, dtype: object

In [7]:
### Top manufacturers with  highest price

df_price =df1.sort_values('price',ascending=False)['manufacturer'].drop_duplicates().head(10)
df_price

1199874             HPE - SWITCHING
2571702            HPE - NIMBLE BTO
1203979         HPE - ARUBA INSTANT
1688357                PULSE SECURE
1017049       MELLANOX TECHNOLOGIES
1248995             CISCO  HW VIDEO
493956          FLUKE NETWORKS CORE
1201276            NETALLY HH TOOLS
720993            HPE - TOP OF RACK
626392     SONICWALL - NSA HARDWARE
Name: manufacturer, dtype: object

In [6]:
### most profitable products 
df1['revenue']= df1['qty'] * df1['price']  ### since cost is not given we are considering gross revenue

C:\Users\LOKESH\AppData\Local\Temp/ipykernel_4664/3493927230.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['revenue']= df1['qty'] * df1['price']  ### since cost is not given we are considering gross revenue

In [11]:
max_profit=df1.groupby('description')['revenue'].max().nlargest(3)  ###top 3 profitable products.
max_profit

description
3YR NBD TO 5YR PROSPT 4H,                          42358763.70
5YR PROSUPPORT PLUS,                               38003399.28
FED ADVANTAGE CONTRACT SUPPORT-, STARTING LEVEL    25022497.50
Name: revenue, dtype: float64

In [20]:
#### creating new coloumn to see the price increase and decrease
df1=df1.sort_values('sku_create_date')
df1['price_change']=df1.groupby('description').price.diff().fillna(0)
price_increase=df1[df1['price_change']>0.0].sort_values(by='price_change',ascending=False).head(1)
price_increase['description']

2264912    THINKSYSTEM SR250 E-2136 3.3G, 12MB 8GB
Name: description, dtype: object

In [21]:
##### decrease in price
price_decrease=df1[df1['price_change']<0.0].sort_values(by='price_change',ascending=False).head(1)
price_decrease['description']

2540565    5S LCD 1000VA TOWER 120V,
Name: description, dtype: object

In [47]:
##### Top category with price
top_cat_p=df1.groupby('category')['price'].max().nlargest(1)
top_cat_p

category
521    69729.03
Name: price, dtype: float64

In [48]:
#### top category with quantity
top_cat_q=df1.groupby('category')['qty'].max().nlargest(1)
top_cat_q

category
1221    60063
Name: qty, dtype: int64

In [46]:
#### since in the given data set only 10 days data are given so we are considering the quantity
df_age=df1.sort_values('qty',ascending=False).groupby('part_number')['sku_create_date'].max()
df_age.head(10)

part_number
0-00496            2020-08-24
0-00498            2020-08-17
003-000884-01-OE   2020-08-24
00385              2020-08-24
00388              2020-08-24
00392              2020-08-24
00394              2020-08-28
00397              2020-08-24
00398              2020-08-24
00401              2020-08-27
Name: sku_create_date, dtype: datetime64[ns]

In [ ]:
#####  To decrease product aging proper EOQ (economic order quantity) inventory model should be followed.
#####  By regulating the price i.e offering more discounts.

In [50]:
### not in stock segment
### Top manufacturers with highest quantity
df_nqty =df2.sort_values('qty',ascending=False)['manufacturer'].drop_duplicates().head(10)
df_nqty

0                 MS-OPEN VALUE SUBSCRIPTION
1730672               CISCO - SV DIRECT SHIP
1730684           CISCO - CISCO CCW SERVICES
1730682     CISCO - TAKEOVER ENTERPRISE SKUS
1730657    INNOVATION FIRST / RACK SOLUTIONS
1730656                             FELLOWES
1730490                  PEERLESS INDUSTRIES
1730491                 JUNIPER PAR SERVICES
1730492                                  AMT
1730635                        MSI - SYSTEMS
Name: manufacturer, dtype: object

In [51]:
### Top manufacturers with  highest price

df_nprice =df2.sort_values('price',ascending=False)['manufacturer'].drop_duplicates().head(10)
df_nprice

1046052                             ALTNET
973610                JUNIPER ROW SERVICES
2261823         JUNIPER ENTERPRISE ROUTING
1653726             CISCO - CCW MULTI YEAR
971703         HPE - ENTERPRISE NETWORKING
985579                       IGEL SOFTWARE
1622918          LENOVO DCG SERVER OPTIONS
1691227    SECURE CHANNELS INC DIRECT SHIP
804208                        PLANAR DVLED
2106837               HPE - SERVER OPTIONS
Name: manufacturer, dtype: object

In [54]:
##### since quantity is 0 we are considering products having highest price is considerd as most profitable products.
max_nprofit=df2.groupby('description')['price'].max().nlargest(3)  ###top 3 profitable products.
max_nprofit

description
ALTNET TPM UP TO 240000000 USD, LIST MNT UPTO 240000000 USDOEM LIST    84974533.10
ALTNET TPM UP TO 80000000 USD, LIST MNT UPTO 80000000 USD OEM LIST     28324844.37
ROW 5YR SWA SUP FOR, JCE-1000GBPS                                      10449000.00
Name: price, dtype: float64

In [55]:
#### creating new coloumn to see the price increase and decrease
df2=df2.sort_values('sku_create_date')
df2['price_change']=df2.groupby('description').price.diff().fillna(0)
price_increase=df2[df2['price_change']>0.0].sort_values(by='price_change',ascending=False).head(1)
price_increase['description']

1653734    CCW ONLY SWSS UPG 3YR DISTI SO=, CSC IA CLD 3....
Name: description, dtype: object

In [56]:
##### decrease in price
price_decrease=df2[df2['price_change']<0.0].sort_values(by='price_change',ascending=False).head(1)
price_decrease['description']

2373085    CCW 3YR SNTC NBD 8X5 CATALYST, 9400 SERIES 10S...
Name: description, dtype: object